.article {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.article h2 {
    font-size: 20px;
    margin: 0;
}

.article p {
    font-size: 16px;
    margin: 10px 0;
}

.article textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.article button {
    padding: 5px 10px;
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.article button.edit-button {
    background-color: #5bc0de;
}

.article button:hover {
    opacity: 0.8;
}
