.blog {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.blog h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    
}

.blog input[type="text"],
.blog textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.blog button {
    padding: 10px 20px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.blog button:hover {
    background-color: blue;
}

#Imj-Add {
    background-color: green;
}
